//----------------------------------------------------------------------------
//  Anchor
//----------------------------------------------------------------------------
a {

}


//----------------------------------------------------------------------------
//  Body
//----------------------------------------------------------------------------
body {
  height: 100%;
  font-family: "Enriqueta";
  font-weight: normal;
  font-style: normal;
}

// @media only screen and (min-width: 620px) {

//   body {
//     overflow: hidden;
//   }
//   body.active {
//     overflow: scroll;
//   }
// }
  

//----------------------------------------------------------------------------
//  Headings
//----------------------------------------------------------------------------
h1 {
  text-align: center;
  font-size: 30px;
  font-family: "Crimson Text";
  font-weight: 600;
  font-style: normal;
  margin: 10px;
}

h2 {
  font-family: "IM Fell English";
  font-weight: normal;
  font-style: oblique;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}


//----------------------------------------------------------------------------
//  HTML
//----------------------------------------------------------------------------
html {
  height: 100%;
}


//----------------------------------------------------------------------------
//  Image
//----------------------------------------------------------------------------
img {

}


//----------------------------------------------------------------------------
//  Lists
//----------------------------------------------------------------------------
li {

}

ol {

}

ul {

}


//----------------------------------------------------------------------------
//  Paragraph
//----------------------------------------------------------------------------
p {

}

p + p {

}


//----------------------------------------------------------------------------
//  Section Elements  //c019
//----------------------------------------------------------------------------
address {

}

article {

}

aside {

}

footer {

}

header {

}

main {

}

nav {

}

section {

}


//----------------------------------------------------------------------------
//  Span
//----------------------------------------------------------------------------
span {

}
