//----------------------------------------------------------------------------
//  Anchor
//----------------------------------------------------------------------------
a {

}


//----------------------------------------------------------------------------
//  Body
//----------------------------------------------------------------------------
body {
  background: #f5f5dc;
  height: 100%;
  font-family: "Enriqueta";
  font-weight: normal;
  font-style: normal;
  position: relative;
}

// @media only screen and (min-width: 620px) {

//   body {
//     overflow: hidden;
//   }
//   body.active {
//     overflow: scroll;
//   }
// }
  

//----------------------------------------------------------------------------
//  Headings
//----------------------------------------------------------------------------
h1 {
  font-size: 4rem;
  font-family: "Crimson Text";
  font-weight: 600;
  font-style: normal;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-family: "IM Fell English";
  font-weight: normal;
  font-style: oblique;
}

h3 {
  display: inline-block;
  vertical-align: middle;
}

h4 {

}

h5 {

}

h6 {

}


//----------------------------------------------------------------------------
//  HTML
//----------------------------------------------------------------------------
html {
  height: 100%;
}


//----------------------------------------------------------------------------
//  Image
//----------------------------------------------------------------------------
img {
  height: auto;
  width: 100%;
}

//----------------------------------------------------------------------------
//  Input
//----------------------------------------------------------------------------

input, input:focus {
  outline: none;
  }
  
  


//----------------------------------------------------------------------------
//  Lists
//----------------------------------------------------------------------------
li {

}

ol {

}

ul {

}


//----------------------------------------------------------------------------
//  Paragraph
//----------------------------------------------------------------------------
p {

}

p + p {

}


//----------------------------------------------------------------------------
//  Section Elements  //c019
//----------------------------------------------------------------------------
address {

}

article {

}

aside {

}

footer {

}

header {

}

main {

}

nav {

}

section {

}


//----------------------------------------------------------------------------
//  Span
//----------------------------------------------------------------------------
span {

}
