//----------------------------------------------------------------------------
//  Anchor
//----------------------------------------------------------------------------
a {
  
  }
  
  
  //----------------------------------------------------------------------------
  //  Body
  //----------------------------------------------------------------------------
  body {
    // background: #D5AD94;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    position: relative;
    overflow: scroll;
    &.disable {
      overflow: hidden;
    }
  }
  
  // @media only screen and (min-width: 620px) {
  
  //   body {
  //     overflow: hidden;
  //   }
  //   body.active {
  //     overflow: scroll;
  //   }
  // }
    
  
  //----------------------------------------------------------------------------
  //  Headings
  //----------------------------------------------------------------------------
  h1 {
    font-size: 4rem;
    font-family: "Crimson Text";
    font-weight: 600;
    font-style: normal;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
  }
  
  h2 {
    font-family: "IM Fell English";
    font-weight: normal;
    font-style: oblique;
  }
  
  h3 {
    display: inline-block;
    vertical-align: middle;
  }
  
  h4 {
  
  }
  
  h5 {
  
  }
  
  h6 {
  
  }
  
  
  //----------------------------------------------------------------------------
  //  HTML
  //----------------------------------------------------------------------------
  html {
    height: 100%;
  }
  
  
  //----------------------------------------------------------------------------
  //  Image
  //----------------------------------------------------------------------------
  img {
    height: auto;
    width: 100%;
  }
  
  //----------------------------------------------------------------------------
  //  Input
  //----------------------------------------------------------------------------
  
  input, input:focus {
    outline: none;
    }
    
    
  
  
  //----------------------------------------------------------------------------
  //  Lists
  //----------------------------------------------------------------------------
  li {
  
  }
  
  ol {
  
  }
  
  ul {
    list-style-type: square;
    margin-left: 10%;
    margin-top: 10px;
  }
  
  
  //----------------------------------------------------------------------------
  //  Paragraph
  //----------------------------------------------------------------------------
  p {
    font-family: "Enriqueta";
  }
  
  p + p {
  
  }
  
  
  //----------------------------------------------------------------------------
  //  Section Elements  //c019
  //----------------------------------------------------------------------------
  address {
  
  }
  
  article {
  
  }
  
  aside {
  
  }
  
  footer {
    background: #e6eadf;
    color: black;
    padding: 20px 12px;
    text-align: center;
  }
  
  span {
    footer & {
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  header {
  
  }
  
  main {
  
  }
  
  nav {
  
  }
  
  section {
  
  }
  
  
  //----------------------------------------------------------------------------
  //  Span
  //----------------------------------------------------------------------------
  span {
  
  }