// ----------------------------------------------------------------------------
//  WRAPS
// ----------------------------------------------------------------------------
.y-wrap {
    margin: 0 auto;
    position: static;
    width: 92%;
    &.in-nav {
        position: relative;
    }
}

.y-legend {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    // width: 210px;  //c022
    @include responsive(nixon) {
        // text-align: center;
        width: 100%;
    }
}

.bg {
    background-image: url('../src/img/bike-background.jpg');
    background-attachment: fixed;
    background-position: center center;
    height: 170%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -10;
    @include responsive(harding) {
        height: 165%;
    }
    @include responsive(hoover) {
        height: 135%;
    }
    @include responsive(johnson) {
        height: 110%;
    }
    @include responsive(nixon) {
        height: 105%;
    }
    // &:after {
    //     background: rgba(0, 0, 0, 0.6);
    //     content: "";
    //     height: 100%;
    //     left: 0;
    //     position: absolute;
    //     top: 0;
    //     width: 100%;
    //     z-index: -5;
    // }
  }
