//----------------------------------------------------------------------------
//  COMMON COMPONENTS
//----------------------------------------------------------------------------



//----------------------------------------------------------------------------
//  FOOTER
//----------------------------------------------------------------------------



//----------------------------------------------------------------------------
//  HEADER
//----------------------------------------------------------------------------

header {
    background-image: url('../src/img/bike-background2.jpg');
    background-attachment: scroll;
    background-position: center center;
    height: 100vh;
    width: 100%;
}
.header_content {
  color: rgba(255, 255, 255, 1);
  right: 50%;
  width: 260px;
  position: absolute;
  text-align: center;
  top: 26%;
  transform: translate(50%, -50%);
  @include responsive(coolidge) {
    width: 400px;
  }
  @include responsive(nixon) {
    width: 650px;
  }
  &:after {
    background: rgba(0, 0, 0, 0.3);
    content: "";
    height: 120%;
    // left: -10%;
    position: absolute;
    left: -10%;
    top: -10%;
    width: 120%;
    z-index: -1;
  }
  &.in-nav {
    overflow: hidden;
    right: 0;
    text-align: left;
    top: -20px;
    transform: translate(0, 0);
    @include responsive(coolidge) {
      width: 260px;
    }
    @include responsive(nixon) {
      width: 260px;
    }
    &:after {
      background: none;
      width: 100%;
      right: 0;
    }
  }
}

p {
  .header_content & {
    font-size: 1.5rem;
    text-align: center;
  }
}


//----------------------------------------------------------------------------
//  MAIN
//----------------------------------------------------------------------------
main {
  display: block;
}

#api_info {
  height: 100px;
  padding: 10px;
  position: relative;
  display: block;
  margin: 10px auto;
  display: none;
}

.component {
  color: white;
  height: 180px;
  position: relative;
  width: 220px;
}

.aqi {
  background: url('../src/img/aqi-component1.jpg');
  background-size: cover;
  background-position: center center;
}

.humid {
  background: url('../src/img/humid-component1.jpg');
  background-size: cover;
  background-position: center center;
}

.rain {
  background: url('../src/img/rain-component1.jpg');
  background-size: cover;
  background-position: center center;
}

.temp {
  background: url('../src/img/temp-component1.jpg');
  background-size: cover;
  background-position: center center;
}

.uv {
  background: url('../src/img/uv-component1.jpg');
  background-size: cover;
  background-position: center center;
}

.wind {
  background: url('../src/img/wind-component1.jpg');
  background-size: cover;
  background-position: center center;
}

// .component {
//   background: rgba(0, 0, 0, .4);
//   border-radius: 4px;
//   color: white;
//   font-size: 1.5em;
//   font-family: "Enriqueta";
//   margin: 20px auto;
//   padding: 50px 10px;
//   position: relative;
//   text-align: center;
//   box-sizing: border-box;
//   width: 95%;
// }

// .component:before {
//   width: 100%;
//   color: white;
//   font-size: 1.5em;
//   left: 0;
//   position: absolute;
//   top: 1%;
//   font-family: "IM Fell English";
//   font-weight: normal;
//   font-style: oblique;
// }

// .aqimessage {
//   padding-top: 5px;
//   color: white;
//   font-family: "Enriqueta";
//   font-size: 15px;
// }

// .uvmessage {
//   padding-top: 5px;
//   color: white;
//   font-family: "Enriqueta";
//   font-size: 15px;
// }

.exit {
  color: white;
  cursor: pointer;
  font-family: Arial;
  font-size: 2.5rem;
  right: 20px;
  position: absolute;
  top: 5px;
}

@media only screen and (min-width: 620px) {
  #api_info {
    padding: 20px;
  }
  .component {
    font-size: 1.5em;
    float: left;
    margin-right: 2%;
    margin-left: 2%;
    width: 46%;
  }
  .aqimessage, .uvmessage {
    font-size: 20px;
  }
  .uv, .aqi, {
    height: 250px;
  }
}

@media only screen and (min-width: 920px) {

  .component {
    margin-left: 3%;
    width: 28%;
  }
  .aqimessage, .uvmessage {
    font-size: 18px;
  }
  .rain, .uv, .aqi, {
    height: 200px;
  }
}

.map-title {
  color: white;
  padding: 16px 10px;
}

// .nimg {
//   border: 1px solid crimson;
//   display: none;
//   margin-left: 12px;
//   vertical-align: middle;
//   width: 50px;
//   @include responsive(harding) {
//     display: inline-block;
//   }
// }

// .nback {
//   display: inline;
//   vertical-align: center;
// }
