#map {
  height: 45%;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}

#explanation {
  padding-top: 5%;
  font-family: Roboto;
  text-align: center;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}

a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
    display: none !important;
}
.gmnoprint:not(.gm-bundled-control) {
    display: none;
}
.gm-bundled-control .gmnoprint {
    display: block;
}

.legends {
  background: white;
  margin: 0 auto;
  max-width: 200px;
}

.legend {
  float: left;
  width: 50%;
}

.legend div {
  position: relative;
  left: 25px;
  font-family: "Enriqueta";
  font-size: 10px;
}

.legend div:before {
  content: '';
  left: -30px;
  position: absolute;
  top: 40%;
  width: 20px;
}

.cf:after,
.cf:before {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

.trails:before {
  border: 2px solid #004c00;
}

.lanes:before {
  border: 2px solid #028903;
}

.friendly:before {
  border: 2px dashed #028903;
}

.dirt:before {
  border: 2px solid #996633;
}

@media only screen and (min-width: 620px) {
  .legends {
    max-width: 280px;
  }
  
  .legend div {
    left: 20px;
    font-size: 15px;
  }
  
  .legend div:before {
    left: -30px;
  }
}

// @media only screen and (min-width: 920px) {
//   .legend div {
//     left: 40px;
//     font-size: 10px;
//   }
// }